body {
    background-color: #b7e4c7;
    margin: 0;
    font-family: 'Manrope','sans-serif';
    color: #2d6a4f;
}
.container {
    
}

.svg1 {

}

.header {
    
    
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
    position: relative;
}

h1 {
    text-shadow: 0px 4px 0px #1b4332;
}
.info h2 {
    text-align: center;
}

.info p{
    padding: 0px 20px;
    line-height: 30px;
}
.info {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}
.spacer50 {
    height: 50px;
}

.hero {
    background-color: #2d6a4f;
    color: #b7e4c7;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.accordion button {
    background-color: #2d6a4f;
    color: #b7e4c7;
    border: 2px solid black;
    border-color:black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.active, .accordion button:hover {
    background-color: #51a37e;
}
  
.panel {
    padding: 0 18px;
    background-color: #2d6a4f;
    display: none;
    overflow: hidden;
}

.accordion button:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }